<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>HangArtist</title>
  <link href="/css/general.css" media="all" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/jquery1.4.2.js"></script>
</head>
<body>
  <div id="container">
    <h1><img src="/images/logo.jpg" /></h1>

    <%= yield %>
  </div>
</body>
</html>
