<div class="center">
  <h1 style="margin: 21px 0 10px 0">You gave up!</h1>
  <h3>(It failed at <%= "#{@round.question_number} #{@round.question_number == 1 ? "try" : "tries"}" %>)<h3>
  <img src="/images/pokal_not.png" />
  <h2>Oh Nooooooo! It's just <%= @round.artist_name %>!<h2>

  <form action="/" method="post" class="center">
    <input type="image" src="/images/button_startgame_default.png" />
  </form>
</div>
